{% extends('::admin.html.twig') %}

{% block body %}

	<div class="row-fluid">		
		<div class="span12">
			<table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
	                  	<th>
	                  		<h1 class="well no-margin">
	                  			Content Manager
	                  		</h1>
	                  	</th>
	                </tr>
	            </thead>
	        </table>
		</div>
	</div>

{% endblock body %}
